body { 
  background: url(chicken.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 460px;
}

#head {
	padding-top: 5%;
	color: #fff;	
}

#help {
  color: #fff;
  text-decoration: underline;
  font-size: 25px;  
}

#l1, #l2, #l3, #l4 {
	background: rgba(100,100,100,0.5)
}

#l1 {
	font-size: 40px;
}

#l2 {
	font-size: 55px;
}

#l3 {
	font-size: 30px;
}

#l4 {
  cursor: pointer;
}

#phone, #persons {
	height: 56px;
	font-size: 24px;
}

input::-webkit-input-placeholder {
   /* Your style here e.g. font size, color etc */
   font-size: 24px;
   padding-left: 10px;
   /*text-align: center;*/
}

input {
  left: 10px !important;
  /*text-align: center;*/
}

form {
    max-width: 480px;
    min-width: 460px;
    margin: 60px auto;
    height: 150%;
}

button {
	height: 150%;
	font-size: 26px !important;
	width: 30%;
}

#submit {
	float: right; 
	width: 100%;
}

/*  ---------------------------modal-------------------------- */

.modal-body{
  font-size:20px;
  text-align: center;

}

#pop_ok{
  width: 33%;
  
  /*font-weight:bold;*/
  color:white;
  float: right;

    position: relative;
    left: -33%;

}

#pop_title{
  text-align: center;
  color: white;
}

#myModal {

  position: absolute;
  top: 30%;


}

modal-footer {
  border-style: none;
}
  /*
  -webkit-border-bottom-left-radius: 10px !important;
    -webkit-border-bottom-right-radius: 10px !important;
    -moz-border-radius-bottomleft: 10px !important;
    -moz-border-radius-bottomright: 10px !important;
     border-bottom-left-radius: 10px !important;
     border-bottom-right-radius: 10px !important;

}*/

.modal-header {
  -webkit-border-top-left-radius: 10px !important;
    -webkit-border-top-right-radius: 10px !important;
    -moz-border-radius-topleft: 10px !important;
    -moz-border-radius-topright: 10px !important;
     border-top-left-radius: 10px !important;
     border-top-right-radius: 10px !important;

}
.modal-content{

    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
     border-radius: 15px !important;

}


#modal-footer{
  background-color: blue;
}

.btn-primary {
  color: white;
}

/*  ---------------------------help modal-------------------------- */

.modal1 {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    padding-bottom: 5%;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content1 {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: fixed;
    top: 20px;
    right: 50px;
    color: #fff !important;
    font-size: 50px !important;
    font-weight: bold;
    /*font-color: #fff;*/
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content1 {
        width: 100%;
    }
}

.clear {
  position: relative;
  float: right;
  height: 20px;
  width: 20px;
  top:-38px;
  right: 3%;
  border-radius: 20px;
  background: #ccc;opacity:0.6;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.clear:hover {
  background: #ccc;
}

.input_warning {
  background: rgba(100,100,100,0.9);
  position: relative;  
  height:0px;
  top:-44px;
  left: 480px;
  color:red;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  }